<html>
<head>
<script src="../../js/jquery-1.8.3.js"></script>
</head>
<body>
<ul id="list">
    <% for(var i=0;i<list.length;i++){%>
    <li itemId="<%=list[i].id%>">
    <input type="textbox" value='<%=list[i].title%>'> 
    
    <a href="javascript:" id="btn_save">保存</a>
    <a href="javascript:"  id="btn_delete">删除</a>
    </li>
    <%}%>
</ul>
<input type="text" id="title">
<button id="btn_add">添加</button>
</body>
<script>
$("#btn_add").click("click",function (e){
    
    $.post("/todo/add",{title:$("#title").val()},function (res){
        window.location.reload();
    });
})
$("#list").click("click",function (e){
    if(e.target.id=="btn_save"){
        var id=$(e.target).parents("li").attr("itemId")
        var title=$(e.target).parents("li").find("input").val()
        $.post("/todo/update",{id:id,title:title},function (res){
            window.location.reload();
        });
    }else if(e.target.id=="btn_delete"){
        var id=$(e.target).parents("li").attr("itemId")
        $.post("/todo/delete",{id:id},function (res){
            window.location.reload();
        });
    }


})

</script>
</html>